body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #34495e;
    color: #ecf0f1;
    font-size: 1.2em;
}

.container {
    display: flex;
    flex: 1;
    width: 80%;
    border: 1px solid #34495e;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #34495e;
    margin: 20px auto;
}

.left-panel, .right-panel {
    flex: 1;
    margin: 10px;
}

.left-panel {
    display: flex;
    flex-direction: column;
}

.left-panel input, .left-panel button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #2c3e50;
    font-size: 1em;
}

#uploadButton {
    cursor: pointer;
}

#imagePreview {
    width: 100%;
    height: auto;
    display: none;
}

.link-container {
    margin-top: 20px; /* スペースを追加 */
    padding: 10px; /* 内側のスペースを追加 */
    background-color: #3b4b61; /* 背景色を濃くして見やすくする */
    border-radius: 5px; /* 角を丸める */
}

.link-container a {
    display: block;
    margin-bottom: 5px;
    color: #2980b9; /* リンクの色 */
    text-decoration: none; /* 下線を除去 */
    font-weight: bold; /* 太字にして強調 */
}

.link-container a:hover {
    text-decoration: underline; /* ホバー時に下線を追加 */
}
